
#header ul>li>a{
    color: #666;
    line-height: 30px;
}
.bg-ccc{
    border-bottom: 1px solid #cccccc;
    background: #eee;
    line-height: 30px;        
}
.bg-ccc li{
    margin: 0px;
}
#header .btn{
    border: 1px solid #ccc;
    color: #1582bd;
    background: #F0F0F0;
    font-size: 14px;
}
.input-group-sm{
    border-radius: 10px;
    font-size: 14px;
    width: 30%;
}
.nav>li>a{
    color: #666;
    font-size: 14px;
    font-weight: normal;
}
.nav>li>a:hover{
   font-weight: bold;
    color:#333
}
#content>ul {
    list-style-type: none;
  }

#content>ul>li {
    margin: 0;
    padding-top:50px; 
    padding-right:100px; 
    background-color:#F4F4F4;
    display: none;
    font-weight: bold;
    height:450px;
  }
#content ul>li>a{
    margin-top: 10px;
    padding: 5px;
    border-bottom:1px solid #000;
}
#content ul>li>a:hover{
    color: #ff5200;
    font-weight: bold;
    text-decoration: none;
}
.current {
    display: block !important;
    z-index: 10;
  }
#content div{
    position: relative;
    left:333px;    
}
#content{
    z-index: 99;
}