.container {
    min-width: 100% !important;
}
/*轮播图的指示器样式*/
#my_car .carousel-indicators li{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 6px;
}
.my_border{
    height: 500px;
    width: 1265px;
    border:1px solid #ccc;
}
.my_border ul>a{
    color: #727272;
    font-weight: bold;
    font-size: 21px;
    padding-right: 72px;
    padding-left: 88px;
}
.my_bg1{
    width: 1265px;
    position: relative;
    left: 90px;
}
#myScrollspy{
    background:url("../img/index/bg1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}
.my_bg2{
    position: relative;
    background: #fff;
    top:1000px;
}
.my_bg2>a,.my_bg3>a{
    display: block;
    position: relative;
}
.my_bg2>a:nth-child(1){
    top: -109px;
    left: 295px;
}
.my_bg2>a:nth-child(2){
    top: -410px;
    left: 329px;
}
.my_bg2>a:nth-child(3){
    align-content: center;
    top: -330px;
    left: 294px;
}
.my_bg2>a:nth-child(4){
    align-content: center;
    top: -235px;
    left: 294px;
}
.my_bg2>a:nth-child(5){
    bottom: -630px;
    right: 695px;
}
.my_bg2>a:nth-child(6){
    top: -119px;
    left: 772px;
}
.my_bg2>a:nth-child(7){
    bottom: -338px;
    right: 217px;
}
.my_bg2>a:nth-child(8){
    bottom: -338px;
    right: 217px;
}
.my_bg3{
    position: relative;
    background: #fff;
    height: 1000px;
}
.my_bg3>img{
    position: relative;
    align-content: center;
    top: -2px;
    left: 640px;
}
#my_car2{
    top: -550px;
}
.my_bg3>div>p>img{
    width: 80%;
    opacity: 0.5;
}
.my_bg3>div>p:nth-child(1){
    position: relative;
    top: 180px;
    left: -72px;
}
.my_bg3>div>p:nth-child(2){
    position: relative;
    top: 180px;
    left: 362px;
}
#my_bg4{
    height: 1000px;
    border-bottom: 1px solid #eee;
}
#my_bg4>a{
    display: block;
    width: 400px;
    height: 374px;
    position: relative;
}
#my_bg4>a:nth-child(1){
    left: 106px;
}
#my_bg4>a:nth-child(2){
    left: 18px;
}
#my_bg4>a:nth-child(3){
    right:83px;
}
#my_bg4>a:nth-child(4){
    left: 103px;
    bottom: 91px;
}
#my_bg4>a:nth-child(5){
    left: 19px;
    bottom: -68px;
}
#my_bg4>a:nth-child(6){
    left: -75px;
    bottom: 91px;

}
#my_bg4 img{-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
    transition:all .5s linear;
}
#my_bg4 img:hover{-webkit-filter: grayscale(0); /* Chrome, Safari, Opera */
    filter: grayscale(0);}
#my_bg5>div>ul>li>a{
    font-size: 16px;
    font-weight: bold;
    color: #666;
}
#my_bg5>a{
    margin-left: 216px;
}
.my_bg6{
    height: 200px;
}
.my_bg6>a{
    font-size: 16px;
    margin: 0 auto;
}




