.col-2>div{
    border:1px solid #ccc;
    font-size: 15px;
    line-height: 30px;
}
.card-header{
    background: #969696;
    height: 34px;
    line-height: 30px;
    color: #fff;
}
.card-body li{
    height: 34px;
    border-left: 0px !important;
    border-right: 0px !important;
    border:1px dashed #bbb;
    margin-left: 15px;
    margin-right: 15px;
}
.card-body>li>a{
    display: block;
    margin: -7px auto;
}
.card-body>li>a:hover{
    color: darkred;
}
.card-body>h6{
    line-height: 30px;
    color: #aaa;
}
.bq{
    height: 30px;
    border-bottom:1px solid #bbb;
}
#coll .bq>span{
    line-height: 30px;
    font-size: 16px;
    border-bottom:3px solid #EC6C00;
    padding-left: 2px;
    padding-right: 2px;
}
table th{
    font-size: 14px;
}
#coll-2 p{
    margin: 15px;
    font-size: 14px;
}
#coll-2 p>button{
    margin-left: 90px;
    font-size: 16px;
}